.root {
    -fx-background-image: url("background_image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 17px;
}

.gameBoard {
    -fx-border-color: skyblue;
    -fx-border-width: 12px;
    -fx-border-radius: 12px;
}
.gamePanel {
    -fx-background-image: url("game_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.gameOverPanel {
    -fx-background-color: linear-gradient(to bottom right, #89CFF0, #FFB7B2) !important;
    -fx-background-radius: 25px !important;
    -fx-border-color: white !important;
    -fx-border-width: 5px !important;
    -fx-border-radius: 25px !important;
    -fx-padding: 30px !important;
}

.gameOverTitle {
    -fx-text-fill: purple ;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 50px;
}

.scoreText {
    -fx-text-fill: yellow ;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 25px;
}

.pastelButton {
    -fx-background-color: rgba(255,255,255,0.4) !important;
    -fx-background-radius: 30px !important;
    -fx-border-color: blue !important;
    -fx-border-radius: 30px !important;
    -fx-border-width: 2px !important;
    -fx-text-fill: blue !important;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 20px;
}
.pastelButton:hover {

    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: rgba(255, 255, 255, 0.7) !important;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

.pastelButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-background-color: rgba(255, 255, 255, 0.9) !important;
}

.tetris-button {
    -fx-background-radius: 12;
    -fx-background-color: rgba(0, 0, 0, 0.45);
    -fx-border-color: #00FA9A;
    -fx-border-radius: 12;
    -fx-border-width: 2;

    -fx-text-fill: #00FA9A;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;

    -fx-effect: dropshadow(gaussian, rgba(0,255,140,0.55), 12, 0.4, 0, 0);
    -fx-background-insets: 0;
}

.tetris-button:hover {
    -fx-background-color: rgba(0, 255, 140, 0.35);
    -fx-text-fill: black;
    -fx-border-color: white;
}

.tetris-button:pressed {
    -fx-background-color: #00c77a;
    -fx-text-fill: black;
}
